<!DOCTYPE html>
		<!-- USE CSS INLINER http://templates.mailchimp.com/resources/inline-css/ -->
<html>
	<head>
		<title></title>
		<style>
			body{
				font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
				font-size: 12px;
				color: #000;
				margin:0 auto;
				width: 600px;
			}
			.ralign{
				text-align: right;
			}
			.invoiceHeadLabel{
				font-size: 30px;
				font-weight: bold;
				color: #666;
			}
			table{
				width: 100%;
			}
			td{
				vertical-align: top;
				white-space: nowrap;
			}
			th{
				background: #ccc;
				padding: 5px;
			}
		</style>
	</head>
	<body>
		<div class="ralign invoiceHeadLabel">
			INVOICE
		</div>
		<table>
			<tr>
				<td width="100%">
					<img src="/logo.png" width="150px" height="70px" />
					<div>
						{{company.name}}<br>
						{{company.address.line1}}, {{company.address.line2}}<br>
						{{company.address.city}}, {{company.address.state}} {{company.address.zip}}<br>
						Phone: {{company.address.phone}}<br>
					</div>
				</td>
				<td width="0%">
					<table>
						<tr>
							<td>Date:</td><td>{{invoice.invoiceDate}}</td>
						</tr>
						<tr>
							<td>Invoice #</td><td>{{invoice.name}}</td>
						</tr>
						<tr>
							<td>Due Date:</td><td>{{invoice.dueDate}}</td>
						</tr>
						<tr>
							<td>Bill To:</td><td>{{invoice.billTo}}</td>
						</tr>
						<tr>
							<td>&nbsp;</td><td></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>Consultant Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
							<td>{{invoice.consultantName}}</td>
						</tr>
						<tr>
							<td>Client:</td><td>{{invoice.client}}</td>
						</tr>
						<tr>
							<td>Location:</td><td>{{invoice.location}}</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<table>
			<thead>
				<tr>
					<th>Description</th>
					<th>Rate</th>
					<th>Hours</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
			{% for item in invoice.items %}
				<tr>
					<td>{{item.description}}</td>
					<td align="right">{{item.rate}}</td>
					<td align="right">{{item.hours}}</td>
					<td align="right">{{item.rate * item.hours}}</td>
				</tr>
			{% endfor %}
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<th align="right">Total</th>
					<th align="right">{{invoice.total}}</th>
				</tr>
			</tbody>
		</table>
		<br><br><br>
		Make all checks payable to {{company.name}}<br>
		If you have any questions contact at {{company.email}}<br>
		THANK YOU FOR YOUR BUSINESS!
	</body>
</html>