<div class="modal-header">
    <h3 class="modal-title">Please Confirm</h3>
</div>
<div class="modal-body">
    {{body}}
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="$close('ok')">OK</button>
    <button class="btn btn-warning" ng-click="$dismiss('cancel')">Cancel</button>
</div>